body {
    background-image: url("img/background-image.jpg");
    margin-left: 20px;
    margin-right: 20px;
}
p {
    background-color: wheat;
    border-left: 3px solid red;
    text-align: justify;
    font-style: italic;
    font-size: 16px;
}
h1 {
    font-weight: bold;
    text-align: center;
    color: #FF0000;
    font-style: normal;
}
img {
    float: left;
    margin-right: 20px;
    width: 40px;
    height: auto;
}
a:link {
    color: blue;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: purple;
    text-decoration: none;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}
div{
    padding: 14px 16px;
    background-color: #ff9900;
}